<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            div {
                text-align:center;
                margin-top:80px;
                width:100%;
            }
            iframe {
                width: 620px;
                height: 378px;
                margin: 0 auto;
            }
            body {
                background-image: url(%%backgroundName%%)
            }
            iframe {
                box-shadow: 0px 6px 0px 0px #78FFBE;
            }
        </style>
    </head>
    
    <body>
        <div>
        <iframe id="player" type="text/html" width="620" height="378"
            src="http://www.twitch.tv/%%streamerName%%/embed"
            frameborder="0"></iframe>
        </div>
    </body>
</html>